page-up-quantity {
    ion-icon {
        font-size: 37px; //Preferred size here
    }
    strong{
        font-size: 22px;
    }
    label{
        font-size: 18px;
    }
    span{
        font-size: 22px;
    }
}
